.card-thumb {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}

.tag-list,
.tag-list a:visited {
  color: #007bff;
}

.h1-wrapper {
  display: grid;
  place-items: center center;
  height: 100vh;
  width: 100%;
}

.page-404 {
  background-color: #ffeb13;
}